<!-- Breadcrumb Template Start-->
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>{{range .Content.Categories}}
    <li><a href="#">{{.}}</a></li>{{end}}
    <li class="is-active">
      <a href="#" aria-current="page">{{.Content.ActiveItem}}</a>
    </li>
  </ul>
</nav>
<!-- Breadcrumb Template End-->