<!-- Card Template Start-->
<div class="card text-center" style="width: 23rem;">
  <img src="{{.ImageSrc}}" class="card-img-top" alt="{{.ImageAlt}}">
  
  <div class="card-body">
    <h5 class="card-title">{{.Title}}</h5>
    <p class="card-text">{{.Text}}</p>
    <a href="{{.ButtonURL}}" class="btn btn-primary">{{.ButtonText}}</a>
  </div>
</div>
<!-- Card Template End -->